%h1= @record.name
%h2= @record.other_name

- @record.data_fields.each do |data_field|
  %p
    - if data_field.field_type.present?
      = data_field.field_type.capitalize + ": "
    - if data_field.value.present? && data_field.field_type != "datafield"
      = "Value: " + data_field.value
    - if data_field.tag.present?
      = "Tag: " + data_field.tag + ", "
    - if data_field.ind1.present?
      = "Ind1: " + data_field.ind1 + ", "
    - if data_field.ind2.present?
      = "Ind2: " + data_field.ind2 + ", "
    - if data_field.subfields.any?
      - data_field.subfields.each do |subfield|
        = "Subfield: " + "code: " + subfield.code + ", " + "value: " + subfield.value + ", "
      
    