%h3= @record.name
%p= "Helmet id: " + @record.helmet_id
%p= "Author main: " + @record.author_main if @record.author_main
%p= "Title main: " + @record.title_main if @record.title_main
%p
  = "ISBN: " + @record.isbn if @record.isbn

%p
  Show record in 
  = link_to "JSON", params.merge(:format => :json)
  or
  = link_to "MARCXML", params.merge(:format => :marcxml)
  format.

%br
%p= link_to "Back", :back
      
    