:textile
  h2. News

  The library catalog data of the Vaski libraries has been released as open data.

  The data can be found at the #{link_to "raw data", "data.html"} section of this site.

  #{link_to "Read the press release (in Finnish)", "http://www.kirjastot.fi/fi-FI/ajankohtaista/tiedote/ajankohtaista/varsinais-suomen-kirjastojen-data-avoimeksi"}

  h2. What

  This API exposes "HelMet Library data":data.html and provides search results in JSON and MarcXML format.

  Currently the API is read-only.

  h2. How

  At the moment you can perform searches by: author, title or isbn.

  Depending on the format you want the search result to be in, you can change the file extension in the url to either <code>json</code> or <code>marcxml</code>. To get JSON results with JSONP, define callback function and add <code>&callback=[callback function name]</code> to the request string.

  h3. By author:

  Example url

  _http://#{HOST}/search/author.json?query=Campbell_
  *OR*
  _http://#{HOST}/search/author.marcxml?query=Campbell_
      
  h3. By title:

  Example url

  _http://#{HOST}/search/title.json?query=raportti_
  *OR*
  _http://#{HOST}/search/title.marcxml?query=raportti_
    
  h3. By ISBN:
  
  Example url

  _http://#{HOST}/search/isbn.json?query=6420614617953_
  *OR*
  _http://#{HOST}/search/isbn.marcxml?query=6420614617953_

  h2. Output

  Depending on the format you requested in the url you can get:
  
  h3. JSON

  Output example

:plain
  <div class="highlight"><pre><span class="p">{</span>
   <span class="s2">&quot;author&quot;</span><span class="o">:</span> <span class="s2">&quot;Oksanen, Sofi&quot;</span><span class="p">,</span> 
   <span class="s2">&quot;author_details&quot;</span><span class="o">:</span> <span class="p">[],</span> 
   <span class="s2">&quot;contents&quot;</span><span class="o">:</span> <span class="p">[],</span> 
   <span class="s2">&quot;description&quot;</span><span class="o">:</span> <span class="p">[</span>
   <span class="s2">&quot;Perustuu tekij\u00e4n samannimiseen n\u00e4ytelm\u00e4\u00e4n&quot;</span>
   <span class="p">],</span> 
   <span class="s2">&quot;extent&quot;</span><span class="o">:</span> <span class="p">[</span>
   <span class="s2">&quot;380 s. ;&quot;</span>
   <span class="p">],</span> 
   <span class="s2">&quot;isbn&quot;</span><span class="o">:</span> <span class="s2">&quot;9789510339732&quot;</span><span class="p">,</span> 
   <span class="s2">&quot;library_id&quot;</span><span class="o">:</span> <span class="s2">&quot;(FI-HELMET)b1854574&quot;</span><span class="p">,</span> 
   <span class="s2">&quot;library_url&quot;</span><span class="o">:</span> <span class="s2">&quot;http://www.helmet.fi/record=b1854574~S9*eng&quot;</span><span class="p">,</span> 
   <span class="s2">&quot;title&quot;</span><span class="o">:</span> <span class="s2">&quot;Puhdistus : romaani&quot;</span><span class="p">,</span> 
   <span class="s2">&quot;type&quot;</span><span class="o">:</span> <span class="s2">&quot;book&quot;</span>
   <span class="p">}</span>
  </pre></div>
  

  
:textile
  h3. MARCXML

  Output example

:plain
  <div class="highlight"><pre><span class="cp">&lt;?xml version=&quot;1.0&quot; encoding=&quot;UTF-8&quot;?&gt;</span> 
  <span class="nt">&lt;collection</span> <span class="na">xmlns=</span><span class="s">&quot;http://www.loc.gov/MARC21/slim&quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;record&gt;</span> 
    <span class="nt">&lt;leader&gt;</span>00485nam  2200169   4500<span class="nt">&lt;/leader&gt;</span> 
    <span class="nt">&lt;controlfield</span> <span class="na">tag=</span><span class="s">&quot;001&quot;</span><span class="nt">&gt;</span>kr2043314X<span class="nt">&lt;/controlfield&gt;</span> 
    <span class="nt">&lt;controlfield</span> <span class="na">tag=</span><span class="s">&quot;005&quot;</span><span class="nt">&gt;</span>20021115010101.0<span class="nt">&lt;/controlfield&gt;</span> 
    <span class="nt">&lt;controlfield</span> <span class="na">tag=</span><span class="s">&quot;008&quot;</span><span class="nt">&gt;</span>000905s1979    xx                  fin  <span class="nt">&lt;/controlfield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;035&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>(FI-HELMET)b1000002<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;041&quot;</span> <span class="na">ind1=</span><span class="s">&quot;0&quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>fin<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;110&quot;</span> <span class="na">ind1=</span><span class="s">&quot;1&quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>Helsingin kaupunki.<span class="nt">&lt;/subfield&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;b&quot;</span><span class="nt">&gt;</span>Lasten päivähoitovirasto<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;245&quot;</span> <span class="na">ind1=</span><span class="s">&quot;1&quot;</span> <span class="na">ind2=</span><span class="s">&quot;0&quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>0-3 -vuotiaiden kehittämistyöryhmän raportti 1 :<span class="nt">&lt;/subfield&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;b&quot;</span><span class="nt">&gt;</span>liite 1: välineistö ja materiaali<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;260&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>Helsinki,<span class="nt">&lt;/subfield&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;c&quot;</span><span class="nt">&gt;</span>1979<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;300&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>[16 s.] :<span class="nt">&lt;/subfield&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;b&quot;</span><span class="nt">&gt;</span>nid.<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;546&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>suomi<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;588&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>180.2<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;599&quot;</span> <span class="na">ind1=</span><span class="s">&quot; &quot;</span> <span class="na">ind2=</span><span class="s">&quot; &quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>KIRJA / BOK<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
    <span class="nt">&lt;datafield</span> <span class="na">tag=</span><span class="s">&quot;913&quot;</span> <span class="na">ind1=</span><span class="s">&quot;0&quot;</span> <span class="na">ind2=</span><span class="s">&quot;0&quot;</span><span class="nt">&gt;</span> 
     <span class="nt">&lt;subfield</span> <span class="na">code=</span><span class="s">&quot;a&quot;</span><span class="nt">&gt;</span>*03VKR199000<span class="nt">&lt;/subfield&gt;</span> 
    <span class="nt">&lt;/datafield&gt;</span> 
   <span class="nt">&lt;/record&gt;</span> 
  <span class="nt">&lt;/collection&gt;</span>
  </pre></div>

:textile
  h2. Pagination for JSON and MARCXML format
:textile

  h3. JSON
  
:plain
  <div class="highlight"><pre><span class="p">{</span>
    <span class="s2">&quot;current_page&quot;</span><span class="o">:</span><span class="mi">1</span><span class="p">,</span>
    <span class="s2">&quot;per_page&quot;</span><span class="o">:</span><span class="mi">5</span><span class="p">,</span>
    <span class="s2">&quot;total_entries&quot;</span><span class="o">:</span><span class="mi">0</span><span class="p">,</span>
    <span class="s2">&quot;entries&quot;</span><span class="o">:</span><span class="p">[]</span>
  <span class="p">}</span>
  </pre></div>

:textile
  Every search result in json format will start always like in the example above.

  If the number of <code>total_entries</code> is bigger that the <code>per_page</code> attribute, you can change the <code>current_page</code> by adding to the end of the url <code>&page=[the number of the page you wish to view]</code> like in the example below:
  <code>http://#{HOST}/search/title.json?query=ja&page=2</code>

:textile
  h3. MARCXML

  Changing the parameter <code>page</code> the same way you would do for JSON format will give you the page you requested.

  h2. Examples

  h3. JSONP

  You should probably use a JavaScript library to handle JSONP. Here is an example using "jQuery":http://jquery.com/ -library.

:plain
  <div class="highlight"><pre><span class="nx">$</span><span class="p">.</span><span class="nx">getJSON</span><span class="p">(</span><span class="s1">&#39;http://#{HOST}/search/title.json?query=ja&amp;callback=?&#39;</span><span class="p">,</span> <span class="kd">function</span><span class="p">(</span><span class="nx">data</span><span class="p">)</span> <span class="p">{</span>
    <span class="c1">// Define your own processing of the JSON...</span>
    <span class="nx">process</span><span class="p">(</span><span class="nx">data</span><span class="p">);</span>
  <span class="p">});</span>
  </pre></div>

:textile

  h3. JSON client with Ruby

  This example shows searching records by title and returning a parsed Ruby object. All needed libraries are included in the Ruby Standard Library.

:plain
  <div class="highlight"><pre><span class="nb">require</span> <span class="s2">&quot;net/http&quot;</span>
  <span class="nb">require</span> <span class="s2">&quot;json&quot;</span>

  <span class="k">class</span> <span class="nc">Helmet</span>
    <span class="k">def</span> <span class="nc">self</span><span class="o">.</span><span class="nf">search_by_title</span><span class="p">(</span><span class="n">title</span><span class="p">)</span>
      <span class="n">request</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">::</span><span class="no">Get</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;/search/title.json?query=</span><span class="si">\#{</span><span class="no">CGI</span><span class="o">.</span><span class="n">escape</span><span class="p">(</span><span class="n">title</span><span class="p">)</span><span class="si">}</span><span class="s2">&quot;</span><span class="p">)</span>
      <span class="n">http</span> <span class="o">=</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTP</span><span class="o">.</span><span class="n">new</span><span class="p">(</span><span class="s2">&quot;#{HOST}&quot;</span><span class="p">)</span>
      <span class="n">response</span> <span class="o">=</span> <span class="n">http</span><span class="o">.</span><span class="n">start</span> <span class="p">{</span> <span class="o">|</span><span class="n">http</span><span class="o">|</span> <span class="n">http</span><span class="o">.</span><span class="n">request</span><span class="p">(</span><span class="n">request</span><span class="p">)</span> <span class="p">}</span>
      
      <span class="k">if</span> <span class="n">response</span><span class="o">.</span><span class="n">class</span><span class="o">.</span><span class="n">superclass</span> <span class="o">==</span> <span class="no">Net</span><span class="o">::</span><span class="no">HTTPSuccess</span>
        <span class="k">return</span> <span class="no">JSON</span><span class="o">.</span><span class="n">parse</span><span class="p">(</span><span class="n">response</span><span class="o">.</span><span class="n">body</span><span class="p">)</span>
      <span class="k">else</span>
        <span class="k">raise</span> <span class="s2">&quot;HTTP request failed: </span><span class="si">\#{</span><span class="n">response</span><span class="o">.</span><span class="n">code</span><span class="si">}</span><span class="s2">&quot;</span>
      <span class="k">end</span>
    <span class="k">end</span>
  <span class="k">end</span>

  <span class="no">Helmet</span><span class="o">.</span><span class="n">search_by_title</span><span class="p">(</span><span class="s2">&quot;ja&quot;</span><span class="p">)</span> <span class="c1"># Returns Ruby hash generated from the JSON</span>
  </pre></div>

