<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=utf-8' http-equiv='content-type' /> 
    <title>KirjastoData</title>

    <link href='https://fonts.googleapis.com/css?family=Puritan:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag :all %>
    <%= csrf_meta_tag %>
  </head>
<body>
  <div class="container_16">
    <div class="grid_13" id="header">
      <div class="logo"></div>
      <h1>HelMet data API</h1>
      <ul id="navigation">
        <li><%= link_to "Home", :root %></li>
        <li><%= link_to "Search", search_page_path %></li>
      <hr/>
    </div>


    <div class="grid_13" id="content">
      <%= yield %>
    </div>
  </div>
</body>
</html>
