-# This file is part of Library Catalog API
-# Copyright (C) 2011,2012  Kisko Labs Oy
-#
-# Library Catalog API is free software: you can redistribute it and/or modify
-# it under the terms of the GNU Affero General Public License as published by
-# the Free Software Foundation, either version 3 of the License, or
-# (at your option) any later version.
-#
-# This program is distributed in the hope that it will be useful,
-# but WITHOUT ANY WARRANTY; without even the implied warranty of
-# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-# GNU Affero General Public License for more details.
-#
-# You should have received a copy of the GNU Affero General Public License
-# along with this program.  If not, see <http://www.gnu.org/licenses/>.

!!!
%html
  %head
    %meta{:content => "text/html; charset=utf-8", :"http-equiv" => "content-type"}
    %title Kirjasto data API

    %link{:href => "https://fonts.googleapis.com/css?family=Puritan:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Ubuntu:regular,italic,bold,bolditalic", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "reset", "960", "syntax", "text", "application"
    = csrf_meta_tag
  %body
    .container_16
      #header.grid_13
        %a{:href => "/"}
          .logo
        %h1 HelMet data API
        %ul#navigation
          %li
            = link_to "Home", :root
          %li
            = link_to "Search", search_page_path
          %li
            = link_to "Feedback", feedback_path
          %li
            = link_to "Raw data", "data.html"
        %hr/

      #content.grid_13
        = yield
  
      #footer.grid_13
        %hr
          #copyright.left
            #{link_to "labs.kirjastot.fi", "http://labs.kirjastot.fi"}, labs (at) kirjastot.fi
          #kisko.right
            In co-operation with
            = link_to "Kisko Labs", "http://kiskolabs.com"
